

.form {
		font-family: 'Open+Sans' sans-serif;
		background:transparent;
		text-align:left;
		color:#FFF;
		font-size:13px;
	}


.list_head{
	font-family: 'Open+Sans' sans-serif;
	text-decoration: none;
	padding: 5px 10px 10px 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #FFFFFF;
	background: #E6E6E6;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;


width: 1000px;
	/*width: 100%;*/
	height: 60px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: #FFFFFF;


	background:#C9C9C9;

	background-color: #66a3ff; 
	background-image: -ms-linear-gradient(top, #66a3ff 0%, #36278c 100%);
	background-image: -moz-linear-gradient(top, #66A3FF 0%, #36278c 100%);
	background-image: -o-linear-gradient(top, #66A3FF 0%, #36278c 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #66A3FF), color-stop(1, #36278c));
	background-image: -webkit-linear-gradient(top, #66A3FF 0%, #36278c 100%);
	background-image: linear-gradient(to bottom, #66A3FF 0%, #36278c 100%);

}



.list_nav{
	width: 1000px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin:5px auto 10px auto;
	font-size: 1em;
	background: rgb(200, 200, 200);
	color: #FFFFFF;
	text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.7);
	
}


.left_cell{
	text-align: left;
}


.holder_row{
	text-align: right;
}

.page_cell{
	text-align: right;
}

.search_cell{
	font-size: 14px;
	color: #333333;
	text-align: right;
}


.form input[type=submit]{
	display:block;
	clear:left;
	font-size:18px;
	color:#FFF;
	padding:5px 50px 5px 50px;
	border:1px solid #999;
	text-shadow:0 1px 1px #666;
	text-decoration:none;
	-moz-box-shadow:0 1px 3px #111;
	-webkit-box-shadow:0 1px 3px #111;
	box-shadow:0 1px 3px #111;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	cursor:pointer;
	margin:10px auto 0 auto
}

.form input[type=submit]:hover{
	border:1px solid #FFF
}

.form input[type=submit]#login{
	background:#64a724;
	background:-moz-linear-gradient(top,rgba(100,167,36,1) 0,rgba(87,151,39,1) 40%,rgba(88,152,42,1) 50%,rgba(73,140,37,1) 90%,rgba(73,140,37,1) 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(100,167,36,1)),color-stop(40%,rgba(87,151,39,1)),color-stop(50%,rgba(88,152,42,1)),color-stop(90%,rgba(73,140,37,1)),color-stop(100%,rgba(73,140,37,1)));
	background:-webkit-linear-gradient(top,rgba(100,167,36,1) 0,rgba(87,151,39,1) 40%,rgba(88,152,42,1) 50%,rgba(73,140,37,1) 90%,rgba(73,140,37,1) 100%);
	background:-o-linear-gradient(top,rgba(100,167,36,1) 0,rgba(87,151,39,1) 40%,rgba(88,152,42,1) 50%,rgba(73,140,37,1) 90%,rgba(73,140,37,1) 100%);
	background:-ms-linear-gradient(top,rgba(100,167,36,1) 0,rgba(87,151,39,1) 40%,rgba(88,152,42,1) 50%,rgba(73,140,37,1) 90%,rgba(73,140,37,1) 100%);
	background:linear-gradient(to bottom,rgba(100,167,36,1) 0,rgba(87,151,39,1) 40%,rgba(88,152,42,1) 50%,rgba(73,140,37,1) 90%,rgba(73,140,37,1) 100%)
}


.div_Listing_Content{
	padding:2px;
	margin:0px;
	border:1 solid #d1d1d1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


.listing_div{
	margin-bottom: 5px;
	width: 990px;
	overflow-x: auto;
	overflow-y: auto;
}


.Listing_Content{
	width: 990px;
	margin: 1px;
	background-color: #f8f8f8; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/*.patientselect tr th,
.patientselect tr td{
	white-space: nowrap;
	height: 40px !important;
	overflow:hidden;
}*/


.plCell{
	overflow:hidden;
	height: 48px;
	width: 100px;
}





.patientselect{
	border-collapse: collapse;
	background: #FFFFFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 0px;
	box-shadow: 0px 0px 1px 0px #474747;
}


.header{
	color: #222222;
	border-top: 1px solid black;
	border-bottom: 1px solid black;

	font-size: 14px;
	text-decoration: none;
	font-weight: normal;


	  font-size: 1em;
	  background: #66A3FF;
	  color: #FFFFFF;
	  text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4);

}

.header_cell{
	border: 1px solid #DDDDDD;
	padding: 10px 5px 10px 5px;
	font-size: 14px;
	text-decoration: none;
	font-weight: normal;
}



.listing_cell{
	border: 1px solid #DDDDDD;
	padding:4px 2px 4px 2px;
	margin: 0px;
	padding-left: 2px;
	color: #333333;
	font-size: 14px;

	/*max-height: 30px !important;*/
}


tr.select{
	background-color: white;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}


table.patientselect tbody tr.odd {
	background-color: rgb(245, 245, 245);
	/*background-color: #ebf3ff;*/
}

table.patientselect tbody tr.even {
	background-color: #ffffff;
}


table.patientselect tr.odd:hover td,
table.patientselect tr.even:hover td {
	border-top:1px solid #FFD9A1;
	border-bottom:1px solid #FFD9A1;
	background-color: #fff2df;
}


tr.selected {
	background-color: #E4CFA8;
}